#Esto es para decirle a Git que archivos va a ignorar 

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Minecraft Server
server/cache/
server/libraries/
server/logs/
server/versions/
server/world/
server/plugins/
server/paper.jar
server/banned-ips.json
server/banned-players.json

# Archivos generados
server/usercache.json
server/version_history.json

# Configuración local
server/eula.txt
server/ops.json
server/whitelist.json

# Maven
target/

# Gradle
.gradle/
build/

# Node
node_modules/

# Variables de entorno
.env
.env.*

.console_history